In [1]:
import pandas as pd

In [2]:
d1 = pd.read_csv('BookScrap.csv')

In [3]:
d1.head()

,title,book,img,rating,price,availability
0,A Light in the Attic,https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...,Three,51.77,In stock
1,Tipping the Velvet,https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...,One,53.74,In stock
2,Soumission,https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...,One,50.10,In stock
3,Sharp Objects,https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...,Four,47.82,In stock
4,Sapiens: A Brief History of Humankind,https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...,Five,54.23,In stock

In [4]:
d2 = pd.read_csv('data.csv')

In [5]:
d2.head()

,Type,UPC,Price Excl. Tax,Price Inc. Tax,Tax,Quantity
0,Poetry,a897fe39b1053632,£51.77,£51.77,£0.00,In stock (22 available)
1,Historical Fiction,90fa61229261140a,£53.74,£53.74,£0.00,In stock (20 available)
2,Fiction,6957f44c3847a760,£50.10,£50.10,£0.00,In stock (20 available)
3,Mystery,e00eb4fd7b871a48,£47.82,£47.82,£0.00,In stock (20 available)
4,History,4165285e1663650f,£54.23,£54.23,£0.00,In stock (20 available)

In [6]:
df = pd.DataFrame()

In [7]:
df['Title'] = d1['title']
df['Type'] = d2['Type']
df['Rating'] = d1['rating']
df['Price'] = d1['price']
df['Price exc. Tax'] = d2['Price Excl. Tax']
df['Price inc. Tax'] = d2['Price Inc. Tax']
df['Tax'] = d2['Tax']
df['Quantity'] = d2['Quantity']
df['Book-Link'] = d1['book']
df['Image-Link'] = d1['img']

In [8]:
df

,Title,Type,Rating,Price,Price exc. Tax,Price inc. Tax,Tax,Quantity,Book-Link,Image-Link
0,A Light in the Attic,Poetry,Three,51.77,£51.77,£51.77,£0.00,In stock (22 available),https://books.toscrape.com/catalogue/a-light-i...,https://books.toscrape.com/../media/cache/2c/d...
1,Tipping the Velvet,Historical Fiction,One,53.74,£53.74,£53.74,£0.00,In stock (20 available),https://books.toscrape.com/catalogue/tipping-t...,https://books.toscrape.com/../media/cache/26/0...
2,Soumission,Fiction,One,50.10,£50.10,£50.10,£0.00,In stock (20 available),https://books.toscrape.com/catalogue/soumissio...,https://books.toscrape.com/../media/cache/3e/e...
3,Sharp Objects,Mystery,Four,47.82,£47.82,£47.82,£0.00,In stock (20 available),https://books.toscrape.com/catalogue/sharp-obj...,https://books.toscrape.com/../media/cache/32/5...
4,Sapiens: A Brief History of Humankind,History,Five,54.23,£54.23,£54.23,£0.00,In stock (20 available),https://books.toscrape.com/catalogue/sapiens-a...,https://books.toscrape.com/../media/cache/be/a...
...,...,...,...,...,...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,Classics,One,55.53,£55.53,£55.53,£0.00,In stock (1 available),https://books.toscrape.com/catalogue/alice-in-...,https://books.toscrape.com/../media/cache/96/e...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Sequential Art,Four,57.06,£57.06,£57.06,£0.00,In stock (1 available),https://books.toscrape.com/catalogue/ajin-demi...,https://books.toscrape.com/../media/cache/09/7...
997,A Spy's Devotion (The Regency Spies of London #1),Historical Fiction,Five,16.97,£16.97,£16.97,£0.00,In stock (1 available),https://books.toscrape.com/catalogue/a-spys-de...,https://books.toscrape.com/../media/cache/1b/5...
998,1st to Die (Women's Murder Club #1),Mystery,One,53.98,£53.98,£53.98,£0.00,In stock (1 available),https://books.toscrape.com/catalogue/1st-to-di...,https://books.toscrape.com/../media/cache/2b/4...
999,"1,000 Places to See Before You Die",Travel,Five,26.08,£26.08,£26.08,£0.00,In stock (1 available),https://books.toscrape.com/catalogue/1000-plac...,https://books.toscrape.com/../media/cache/d7/0...

In [9]:
df.to_csv('CombinedData.csv', index=False)